<%= flash[:message] if flash[:message] %>

<h1>LOGIN TO YOGA CLASS CREATOR</h1>

<%= form_for :teacher, url: sessions_path do |f|%>
  <%= f.label :username %>
  <%= f.text_field :username %> <br>

  <%= f.label :password %>
  <%= f.password_field :password%> <br>

  <%= f.submit 'Login!' %>
<% end %><br>

<p>New to Yoga Class Creator?</p>
<p><%= button_to "Create an Account!", new_teacher_path, method: :get %><p>
