<%= flash[:message] if flash[:message] %>

<h1><%= @lesson.title %> | <%= @lesson.lesson_type.capitalize %></h1>
<h3>Playlist: <%= @lesson.playlist.capitalize if @lesson.playlist %></h3>
<h3>Poses</h3>
<ol>
  <% @lesson.poses.each do |p| %>
    <li><%= p.name.capitalize %></li>
  <% end %>
</ol>
<p><%= button_to "Edit Class", edit_teacher_lesson_path(@lesson.teacher, @lesson), method: :get %></p>
<p><%= button_to "Delete Class", teacher_lesson_path(@lesson.teacher, @lesson), method: :delete %><p>
<p><%= button_to "Back to Classes", teacher_lessons_path, :method => :get %></p>
<h3>Notes</h3>
<p><%= button_to "Add Note", new_teacher_lesson_note_path(@lesson.teacher, @lesson), method: :get %></p>
<% @lesson.notes.each do |n|  %>
  <p><%= note_date(n) %> | <%= n.content %></p>
  <p><%= button_to "Edit Note", edit_teacher_lesson_note_path(@lesson.teacher, @lesson, n), method: :get %></p>
  <p><%= button_to "Delete Note", teacher_lesson_note_path(@lesson.teacher, @lesson, n), method: :delete %></p>
<% end %>
